ChatServer/bin/Release/odalar/*.*
ChatServer/bin/Release/ozeller/*.*
ChatServer/bin/Release/dosyalar/*.*
ChatServer/bin/Release/idnumaralari.txt
ChatClient/obj/Release/ChatClient.exe
ChatClient/obj/Release/ChatClient.pdb
