ChatServer/bin/Release/odalar/
ChatServer/bin/Release/ozeller/
ChatServer/bin/Release/dosyalar/
ChatServer/bin/Release/idnumaralari.txt
ChatClient/obj/Release/ChatClient.exe
ChatClient/obj/Release/ChatClient.pdb
ChatClient/bin/Release/hata.txt
ChatServer/bin/Release/hata.txt
ChatClient/bin/Release/output2.txt
ChatClient/bin/Release/output.txt
ChatClient/bin/Release/chat-client.zip
ChatClient/bin/Release/run.bat
ChatClient/bin/Release/chat-client.rar
ChatClient/bin/Release/output3.txt
